# numpy
# pandas
# matplotlib

import os

def check_environment():
    if 'CONDA_PREFIX' in os.environ:
        print("Current environment is Conda.")
    else:
        print("Current environment is venv.")

check_environment()